body {
    font: 14px "Century Gothic", Futura, sans-serif;
    margin: 20px;
  }
  
  ol, ul {
    padding-left: 30px;
  }
  
  .board-row:after {
    clear: both;
    content: "";
    display: table;
  }
  
  .status {
    margin-bottom: 10px;
  }
  
  .square {
    background: #fff;
    border: 1px solid #999;
    float: left;
    font-size: 24px;
    font-weight: bold;
    line-height: 34px;
    height: 34px;
    margin-right: -1px;
    margin-top: -1px;
    padding: 0;
    text-align: center;
    width: 34px;
  }
  
  .square:focus {
    outline: none;
  }
  
  .kbd-navigation .square:focus {
    background: #ddd;
  }
  
  .game, .game-container {
    display: flex;
    flex-direction: row;
  }
  .game {
    flex-direction: column;
  }
  
  .game-info {
    margin-left: 20px;
  }

  .winner {
      background-color: green;
      color: white;
  } 

  .lastMoved {
    background-color: red;
    color: white; 
  }
  
  .history-buttons {
      margin: 20px 0;
    }
    
    .restart {
      margin: 20px 0;
  }
  